{% extends "base.html" %}


{% block title %}Sketch Plugin Shortcuts{% endblock %}
{% block js %}
{% endblock %}


{% block main %}
<h2>Sketch Plugin Shortcuts</h2>
<p>A utility for Sketch plugin developers. It's intended to show which shortcuts are already taken. The table also indicates when there is a duplication issue with a shortcut:</p>
<ul>
    <li><code>non-duplicate shortcut</code></li>
    <li><code class="duplicate">duplicate shortcut</code></li>
</ul>

<p><strong>NB: Only plugins listed in the <a href="https://github.com/sketchplugins/plugin-directory">Sketch Plugin Directory</a> will show up in this list</strong></p>

<p>The list is provided by <a href="https://github.com/PEZ">PEZ</a>. Tweet me any questions: <a href="https://twitter.com/cobpez">@CoBPEZ</a>.</p>

<p><strong>NB: The list is very incomplete so far.</strong> For instance it lists at most two shortcuts per repository. At best, often it fails to include even one shortcut (But, indeed, if a plugin repository is in this list, it probably has shortcuts. Click the repository link to check out, for now.)</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Shortcuts</th>
            <th>Repository</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for plugin in plugins %}
            <tr>
                <td nowrap>
                    {% for shortcut in plugin.shortcuts %}
                    <p><code class="{{ 'duplicate' if shortcut.is_duplicate() else ''}}">{{shortcut.to_string()}}</code></p>
                    {% endfor %}
                </td>
                <td><a href="{{ plugin.url }}">{{ plugin.name }}</a></td>
                <td>{{ plugin.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
