{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<h2>Plugins</h2>

<table>
  <thead>
    <th>Shortcuts</th>
    <th>Plugin</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for plugin in plugins %}
        <tr>
            <td>
                {% for shortcut in plugin.shortcuts %}
                    <p>{{shortcut.to_string()}}</p>
                {% endfor %}
            </td>
            <td><a href="{{ plugin.url }}">{{ plugin.name }}</a></td>
            <td>{{ plugin.description }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
